/cppcalllua/cppcalllua/.vs
/cppxlsxoperation/cppxlsxoperation/.vs
/cppxlsxoperation/cppxlsxoperation/x64
*.obj
*.pdb
*.ilk
*.tlog
*.idb
*.log
*.recipe
/cppcalljs2/cppcalljs2/.vs
/cppcalljs2/cppcalljs2/Debug
/cppcalljs2/cppcalljs2/Release
/cppcalljs2/cppcalljs2/x64
/cppcalljs2/shell/.vs
/cppcalljs2/.vs
/cppcalljs/.vs
/cppcalljs2/shell/Debug
/cppcalljs2/shell/x64
/cppcalljs2/bin/*.iobj
/cppcalljs2/bin/*.lib
/cppcalljs2/bin/*.exp
/cppcalljs2/bin/*.ipdb
/cppcalljs3/.vs
/cppcalljs3/x64
/cppcalljs3/bin/.idea
/cppcalljs3/cppcalljs3/.vs
/cppcalljs3/shell/.vs
/cppcalljs3/shell/x64
/cppcalljs4/.vs
/cppcalljs4/bin/.idea
/cppcalljs4/cppcalljs/x64
/cppcalllua/cppcalllua/x64/Release
*.iobj
*.exp
*.ipdb
/cppcalljs4/bin/cppcalljs.lib
/cppcalljs3/bin/cppcalljs2.lib
/cppcalljs3/bin/shell.lib
/wxstudy/1/.vs
/wxstudy/1/Debug
/wxstudy/2/Video_wxWidgets/.vs
/wxstudy/2/Video_wxWidgets/Debug
/libhv/libhv-1.2.1
.vs
x64
/indepthc++11/*x64
/boost_study/talking_async/asio-1.24.0
/boost_study/asio-1.24.0
Debug
a.out
